on: [push, pull_request]
env:
  GITHUB_TOKEN: ${{ github.token }}
jobs:
  run:
    runs-on: ubuntu-latest
    container: docker://dvcorg/cml-py3
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: iterative/setup-cml@v1
      - uses: mxschmitt/action-tmate@v3
